# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Build outputs
dist/
out/
build/

# VS Code
.vscode/
*.code-workspace
.history/

# OS
.DS_Store
Thumbs.db

# Gravitor Storage
gravitor-core/data/
